body{
  padding: 0;
  margin: 0;
}

.divG{
  width: 200px;
  height: 200px;
  margin:20px auto;
}

.divM{
  position:relative;
  width:100px;
  height: 100px;
  top:50px;
  margin:auto;
}

.divP{
  position:absolute;
  width:50px;
  height: 50px;
}

#red{
  background-color: #FF3508;
}

#purple{
  background-color: #802C76;
}

#yellow{
  top:0;
  left:0;
  background-color: #FFF83F;
}

#azul{
  background-color: #004AF9;
}

#verde{
  background-color: #087620;
}

#negro{
  top:-50px;
  left:-50px;
  background-color: #000000;
}
